body {
  font-family: "Ubuntu", sans-serif;
  background: #e9e9e9;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.aligntext {
  text-align: center;
}
.marquee {
  text-indent: 1200px;
  padding: 5px;
  background: #0091d6;
  color: #ffffff;
  font-weight: 500;
}
.marqueeicon {
  width: 1% !important;
}
.navbarspace {
  width: 28%;
}
.logo {
  height: 90px;
}
.carticon {
  height: 50px;
  margin-left: 10px;
}
.badge {
  font-size: 12px;
  vertical-align: top;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  position: absolute;
  right: 5%;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler-icon {
  color: #0091d6;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.headerlinktitle {
  color: #323c8c !important;
  font-size: 18px;
  font-weight: 700;
}
.headerlinktitle:hover,
.active {
  color: #d0541e !important;
}
.navbarfix {
  text-align: center;
}
.headerlinkspace {
  display: flex;
  justify-content: end;
  padding: 15px 0;
  width: 100%;
}
.banner {
  margin-top: 120px;
}
.carousal1 {
  padding: 40px 0px;
}
/* WhatsApp Button */
.whatsApp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 50px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.whatsApp:hover {
  color: #fff;
}
.my-whatsApp {
  margin-top: 15px;
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

/* Order Button */
.ordernow {
  position: fixed;
  background-color: yellow;
  width: 110px;
  height: 110px;
  top: 160px;
  right: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}
.ordergif {
  width: 85%;
  margin-top: 5px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

.iconcolor {
  color: #d0541e;
  font-size: 35px;
}
.iconsize {
  width: 100%;
}
.icontext {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
}
.iconsubtext {
  font-size: 14px;
}
.borderline {
  border-right: 3px solid red;
}
.crackerlooking {
  background-image: url("../Assets/Banner/banner4.webp");
  background-size: cover;
  height: 40vh;
  margin-bottom: 17%;
  position: relative;
  width: 100%;
}
.lookingfor {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-top: 8%;
  padding: 20px;
  position: absolute;
  width: inherit;
}
.lookingtitle {
  color: #1b1818;
  font-size: 20px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  text-transform: capitalize;
}
.lookingicon {
  display: flex;
  margin: auto;
  width: 50%;
}
.lookingicontitle {
  color: #1b1818;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
}
.lookingiconcontent {
  color: #505050;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: justify;
  text-transform: capitalize;
}
.itemtitle {
  color: #1b1818;
  font-size: 27px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 3%;
  text-transform: capitalize;
}
.itemcard {
  padding: 3px;
  border: 1px solid #177b00;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background: #fff;
}
.deletetag {
  color: red;
  font-weight: 700;
  font-size: 18px;
}
.inserttag {
  color: green;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.countbanner {
  padding: 40px;
}
.CountUp {
  font-size: 55px;
  font-weight: bolder;
  background: linear-gradient(to left, #b12733, #3f468a);
  background-clip: text;
  color: transparent;
}
.countname {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}
.addbanner {
  width: 100%;
}
.footer {
  color: #d0541e;
  padding: 40px;
}
.footerlogo {
  width: 60%;
}
.footertitle {
  font-size: 20px;
  font-weight: 700;
}
.footercontent {
  font-size: 14px;
  color: #000000;
}
.footerlinktitle {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
}
.footerlinktitle:hover {
  color: #d0541e;
}
.addresstext {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}
.blink_me {
  animation: blinker 1s linear infinite;
  font-size: 20px;
  font-weight: 600;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.addressimage {
  width: 40%;
}

.footerrights {
  background: #d0541e;
  padding: 10px;
}
.rightstext {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.socialicon {
  width: 20%;
  margin-right: 8%;
  cursor: pointer;
  transition: transform 0.2s;
  margin-bottom: 8%;
}
.socialicon:hover {
  transform: scale(1.25);
}
.blinkbox {
  border: 2px solid #d0541e;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.headingtitle {
  color: #2058a5;
  font-size: 22px;
  font-weight: 700;
}
.aboutimage {
  width: 90%;
}
.aboutbanner {
  position: relative;
  text-align: center;
  color: white;
}
.bannerwidth {
  width: 100%;
  height: 45vh;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: 900;
}
.webtext {
  color: #d0541e;
  font-size: 30px;
  font-weight: 700;
}
.aboutcontent {
  font-size: 20px;
}
.contenthigh {
  color: #d0541e;
  font-size: 22px;
  font-weight: 500;
}
.aboutcard {
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 50px 41px 30px;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.aboutcard:hover {
  box-shadow: 0 0 50px 0 rgba(19, 19, 28, 0.12);
}
.cardtitle {
  color: #484848;
  font-weight: 900;
  font-size: 16px;
  margin-top: 6%;
}
.aboutcardimg {
  width: 35%;
}
.cardpara {
  font-size: 14px;
  text-align: justify;
  font-weight: 400;
}
.teamcard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 16px #11111a1a;
  padding: 15px;
  text-align: center;
  margin: 25px 0 15px;
  position: relative;
}
.teamimage {
  width: 100%;
  margin-top: -35px;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}
.teamtitle {
  padding-top: 15px;
  font-size: 18px;
  font-weight: bolder;
}
.temsubtitle {
  color: #6c757d !important;
  font-weight: lighter;
  font-size: 15px;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.teamcard:hover .image {
  opacity: 0.2;
}
.teamcard:hover .middle {
  opacity: 1;
}
.textmore {
  color: #ffffff;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
}
.foundertitle {
  font-size: 30px;
  color: #0091d6;
  font-weight: 600;
}
.founderpara {
  font-size: 17px;
  text-align: justify;
}
.founderparaspan {
  color: #d0541e;
  font-weight: 500;
}
.spantag {
  font-weight: bolder;
}
.firesafetyimage {
  width: 70%;
}
.paraspacing {
  margin-bottom: 1%;
}
.chitimage {
  width: 100%;
  height: 60vh;
}
.labeltext {
  font-size: 16px;
  font-weight: 500;
  color: #252c58;
  margin-top: 2%;
}
.fieldinput {
  width: 90%;
  outline: none;
  border-radius: 8px;
  padding: 7px 15px;
  border: 1px solid #9195ab;
  margin-top: 5px;
  text-transform: capitalize !important;
}
.button {
  padding: 10px 5px;
  width: 90%;
  background: #d0541e;
  border-radius: 10px;
  border: none;
  margin-top: 5%;
  color: #fff;
}
.button:hover {
  color: #d0541e;
  border: 1px solid #d0541e;
  background: transparent;
}
.loginbg {
  background-image: url("../Assets/Bg/loginbg.webp");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.center-banner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.login-bg {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 35%;
  margin-top: 21.5%;
  margin-left: 60%;
}
.signup-bg {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 35%;
  margin-top: 5%;
  margin-left: 60%;
}
.loginlogo {
  width: 50%;
}
.fancy {
  position: relative;
  width: 415px;
  height: 50px;
  max-width: 100%;
  background: #e1edf5;
  border-radius: 50px;
  overflow: hidden;
  --offset: 3px;
}

.fancy::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  background: conic-gradient(transparent 180deg, #d0541e, #228acd);
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  animation: rotate 2s linear infinite;
}

.fancy::after {
  content: "";
  position: absolute;
  width: calc(100% - 2 * var(--offset));
  height: calc(100% - 2 * var(--offset));
  inset: var(--offset);
  background: inherit;
  border-radius: inherit;
}

.fancy input {
  position: absolute;
  color: #2b4d9b;
  background: transparent;
  font-size: 1rem;
  inset: 0;
  padding: 1.5rem;
  z-index: 10;
  border: none;
  outline: none;
}

.fancy input::placeholder {
  border: none;
}

/* Button for toggling visibility */
.toggle-visibility {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  z-index: 20;
  cursor: pointer;
  color: #2b4d9b;
  font-size: 1.2rem;
  outline: none;
}

/* Styling the font awesome icons */
.toggle-visibility i {
  font-size: 20px;
}

/* Optional styling for button hover/focus state */
.toggle-visibility:hover i {
  color: #d0541e;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }
  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
.loginbutton {
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  background: #2058a5;
  color: #ffffff;
  border: none;
  font-size: 18px;
}
.loginbutton:hover {
  border: 1px solid #2058a5;
  color: #2058a5;
  background: transparent;
}
.tablecolor {
  border: 1px solid #000000;
}
.commissiontext {
  font-size: 20px;
  font-weight: 700;
}
.contactbox {
  padding: 20px;
}

.fancycontact {
  position: relative;
  width: 415px;
  height: 50px;
  max-width: 100%;
  background: #f6e9e4;
  border-radius: 50px;
  overflow: hidden;
  --offset: 3px;
}
.fancycontact::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  background: conic-gradient(transparent 180deg, #d0541e, #228acd);
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  animation: rotate 2s linear infinite;
}
.fancycontact::after {
  content: "";
  position: absolute;
  width: calc(100% - 2 * var(--offset));
  height: calc(100% - 2 * var(--offset));
  inset: var(--offset);
  background: inherit;
  border-radius: inherit;
}
.fancycontact input {
  position: absolute;
  color: #d0541e;
  background: transparent;
  font-size: 1rem;
  inset: 0;
  padding: 1.5rem;
  z-index: 10;
  border: none;
  outline: none;
}
.fancycontact input::placeholder {
  border: none;
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }
  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
.contactbutton {
  width: 100%;
  border-radius: 50px;
  padding: 10px;
  background: #d0541e;
  color: #ffffff;
  border: none;
  font-size: 18px;
}
.contactbutton:hover {
  border: 1px solid #d0541e;
  color: #d0541e;
  background: transparent;
}
.contactbgbox {
  background-color: #d0541e;
  height: 35vh;
  margin-top: 13%;
}
.contactboxwhite {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  margin-top: -8%;
}
.contactcircle {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  background: #d0541e;
  margin: auto;
  margin-top: -24%;
}
.contacticon {
  width: 60%;
  margin-top: 25%;
}
.contacticon1 {
  width: 50%;
  margin-top: 25%;
}
.producttitle {
  color: #b12733;
  text-transform: uppercase;
}
/* Ensure table has the correct styles for borders and alignment */
table,
td,
th {
  border: 1px solid #d0541e;
  text-align: center;
  padding: 10px;
  color: #228acd;
}
table {
  width: 100%;
  border-collapse: collapse;
}
/* Style for table heading */
.tableheading {
  padding: 5px;
  background: #d0541e;
  color: #ffffff;
  font-size: 20px;
  width: 100%;
}
/* Table container for responsiveness */
.table-responsive {
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-bottom: 15px;
}
/* Prevent horizontal overflow */
body {
  overflow-x: hidden; /* Avoid overall horizontal scrolling on body */
}
.categorytitle {
  color: #d0541e;
}
.producttopic {
  border: 1px solid #d0541e;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 17px;
  color: #d0541e;
  margin-right: 3%;
  margin-bottom: 4%;
}
.producttopic:hover {
  background: #d0541e;
  color: #fff;
}
.producttitleheading {
  color: #0091d6;
  font-size: 22px;
}
.productcontain {
  position: relative;
}
.productimage {
  width: 100%;
  border-radius: 25px;
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.cartmiddle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.productcontain:hover .productimage {
  opacity: 0.3;
}
.productcontain:hover .cartmiddle {
  opacity: 1;
}
.productcarttext {
  background-color: #177b00;
  color: white;
  font-size: 17px;
  font-weight: 600;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}
.bagicon {
  width: 5%;
}
.cartaligntext {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carttitle {
  color: #d0541e;
  font-size: 25px;
}
.cartline {
  border-top: 1px solid #2058a5;
}
.cartlinebtm {
  border-bottom: 1px solid #2058a5;
  margin-top: 2%;
}
.cartimage {
  width: 100%;
}
.cartimagetitle {
  font-size: 16.5px;
  font-weight: 500;
}
.cartimagetitle1 {
  font-size: 16.5px;
  font-weight: 500;
  text-align: center;
}
.cartimagesubtitle {
  color: #636262;
  font-size: 14.5px;
  font-weight: 500;
}
.cartimagesidetitle {
  font-size: 16.5px;
  color: #515050;
  text-align: center;
}
.cartrightsidetitle {
  font-size: 16.5px;
  color: #515050;
}
.inputcode {
  padding: 5px 10px;
  border: 1px solid #515050;
  outline: none;
}
.inputcodebtn {
  padding: 5px 10px;
  color: #ffffff;
  background: #000000;
  font-size: 14px;
  font-weight: 500;
}
.inputcodebtn:hover {
  border: 1px solid #000000;
  background: #ffffff;
  color: #000000;
}
.cartrightsidedisplay {
  display: flex;
  justify-content: space-between;
}
.cartimagesidesubtitle {
  font-size: 15px;
  color: #515050;
}
.cartimagesidetotal {
  font-size: 17.5px;
  text-align: center;
}
.cartrightshipping {
  color: #636262;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.cartrightshippingcolor {
  color: red;
}
.cartsavetext {
  color: green;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.checkbtn {
  width: 100%;
  padding: 7px 15px;
  background: #ffea48;
  color: #000000;
  border: none;
  font-size: 17px;
  font-weight: 500;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.checkbtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.btnicon {
  width: 6%;
  margin-right: 3%;
}
.cartalignment {
  margin-left: 15%;
}
.continuebtn {
  width: 100%;
  padding: 7px 15px;
  background: #000000;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.continuebtn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.selectinput {
  margin-left: 3%;
  padding: 5px 10px;
  border: 1px solid #515050;
  border-radius: 10px;
  background: transparent;
}
.checkoutbtn {
  border-radius: 10px;
  padding: 6px 20px;
  outline: none;
  background: green;
  border: none;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
}
.checkoutbtn:hover {
  border: 1px solid green;
  color: green;
  background: none;
}
.resetbtn {
  border-radius: 10px;
  padding: 6px 20px;
  outline: none;
  background: red;
  border: none;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
}
.resetbtn:hover {
  border: 1px solid red;
  color: red;
  background: none;
}
.checkoutrules {
  font-size: 18px;
  font-weight: 500;
}
.checkoutrulecolor {
  color: #d0541e;
}
.backarrow {
  color: #d0541e;
  font-size: 30px;
}
.otpinput {
  margin-left: 5% !important;
  width: 2.5rem !important;
  gap: 10px !important;
  margin-bottom: 5% !important;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}
.pagination button {
  min-width: 40px; /* Ensure buttons are touch-friendly */
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}
.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: #ffffff;
  border: 1px solid #9195ab !important;
  border-radius: 10px !important;
  line-height: 25px;
  height: 42px !important;
  width: 373px !important;
  outline: none;
}
.validationmsg {
  color: red;
  font-size: 15px;
}
.contactboxtext {
  color: #d0541e;
}
.contactboxpara {
  font-size: 14.5px;
  color: #228acd;
  font-weight: 700;
}
.routelogin {
  padding: 10px 20px;
  border-radius: 10px;
  background: #d0541e;
  color: #ffffff;
  border: none;
  font-size: 18px;
}
.routelogin:hover {
  border: 1px solid #d0541e;
  color: #d0541e;
  background: transparent;
}
.checkoutpage {
  font-size: 20px;
}
.checkoutpagecolour {
  color: #d0541e;
}
.checkmarkicon {
  width: 7%;
}
.image-row {
  display: flex;
  justify-content: space-between; /* Adjusts the space between the images */
}
.paymenticon {
  width: 13%;
}
.bankupi {
  width: 30%;
}
.paymentbox {
  border: 1px solid #d0541e;
  border-radius: 10px;
  padding: 10px;
}
.bankicon {
  width: 50%;
}
.orderedtext {
  color: #d0541e;
}
.rotated {
  display: inline-block;
  transform: scaleX(-1);
  color: #d0541e !important;
}
.viewbtn {
  padding: 5px 20px;
  /* width: 90%; */
  background: #d0541e;
  border-radius: 10px;
  border: none;
  /* margin-top: 5%; */
  color: #fff;
}
.viewbtn:hover {
  color: #d0541e;
  border: 1px solid #d0541e;
  background: transparent;
}
.pdfbox {
  border: 1px solid #d0541e;
  padding: 10px;
}
.pdfheading {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
